/data
/fakedata
/utils.py
/__pycache__
*[1234567890].png
/models
/gif
/img
/loss
/PlasticDataset
/nets
/synthetic_data
/log
/vs_img
/img
/run_all.sh
/test_all.sh
/conditional_WGAN_ICR_train.py
/wgan_gp_train2.py
/wgan.py
/conditional_WGAN_train.py
/README_old.md
/run_all.bat
/profile.stats
/view_profile.py
/preprocess.py
/othermodel